@mixin hover-supported {
  @media not all and (pointer: coarse) {
    &:hover {
      @content;
    }
  }
}

@mixin breakpoints($media) {
  @if $media == xs {
    @media only screen and (min-width: 520px) {
      @content;
    }
  } @else if $media == s {
    @media only screen and (min-width: 768px) {
      @content;
    }
  } @else if $media == m {
    @media only screen and (min-width: 1024px) {
      @content;
    }
  } @else if $media == l {
    @media only screen and (min-width: 1366px) {
      @content;
    }
  } @else if $media == ll {
    @media only screen and (min-width: 1600px) {
      @content;
    }
  } @else if $media == xl {
    @media only screen and (min-width: 1920px) {
      @content;
    }
  } @else {
    @media only screen and (min-width: $media) {
      @content;
    }
  }
}

/*
  This mixin can be used to set the object-fit:
  @include object-fit(contain);
  or object-fit and object-position:
  @include object-fit(cover, top);
*/
@mixin object-fit($fit: fill, $position: null) {
  -o-object-fit: $fit;
  object-fit: $fit;
  @if $position {
    -o-object-position: $position;
    object-position: $position;
    font-family: 'object-fit: #{$fit}; object-position: #{$position}';
  } @else {
    font-family: 'object-fit: #{$fit}';
  }
}
