html {
	font-family: 'Roboto', 'Raleway', sans-serif;
	font-size: 10px;

	@include breakpoints(s) {
		font-size: 12px;
	}

	@include breakpoints(m) {
		font-size: 14px;
	}

	@include breakpoints(l) {
		font-size: 16px;
	}

	&,
	* {
		box-sizing: border-box;
	}
}

body {
	background-color: $colorWhite;
	height: 100vh;
}

a {
	text-decoration: none;
	color: $colorLinkDefault;

	&:hover {
		color: $colorLinkHover;
	}
	&:visited {
	}
}

body {
	// display: none;
}
