.header-nav-wrapper-contacts {
	display: flex;
	align-items: center;
	justify-content: center;
	order: 3;
	max-width: 100%;
	width: 100%;
	min-height: 1px;
	margin-left: auto;
}

.contacts-item {
	&__link {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		width: 100%;

		&:hover {
			color: $colorLinkHover;
		}
	}

	&__image {
		display: inline-block;
		width: auto;
		height: auto;
		margin-right: 15px;

		// svg {

		// }
	}

	&__text {
		font-family: Roboto;
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 16px;
		letter-spacing: 0.02em;
	}
}
