.header {
	z-index: 5;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: $colorWhite;
}

.header-wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	flex-wrap: nowrap;
	max-width: 1670px;
	height: 80px;
	width: 100%;
	margin: 0 auto;
	padding: 0 10%;
}
