.header-nav-list {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	flex-wrap: nowrap;
	max-width: 1670px;
	width: 100%;
	margin: 0 auto;
	padding: 0 10%;

	&__item {
		a {
			font-family: Roboto;
			font-style: normal;
			font-weight: 500;
			font-size: 14px;
			line-height: 16px;
			letter-spacing: 0.02em;
			color: $colorLinkMainNavigation;

			background-color: colorWhite;

			padding: 2em 0em;
			text-decoration: none;

			&:hover {
				color: $colorLinkHover;
				border-bottom: 3px solid $colorLinkHover;
			}
		}
	}
}
