.hero-banner {
	width: 100%;
	height: 600px;
	max-width: 1670px;
	margin: 0 auto;
	padding: 0;

	&__image {
		background: url('../img/hero_banner.jpg');

		height: 100%;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		position: relative;
		opacity: 1;
		background-color: $colorHeroBannerBackground;
	}

	&__text {
		text-align: center;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		font-family: Roboto;
		font-style: normal;
		font-weight: 900;
		font-size: 44px;
		line-height: 60px;
		text-align: center;
		letter-spacing: 0.06em;
		text-transform: uppercase;
		color: $colorWhite;

		button {
			border: none;
			outline: 0;
			display: inline-block;
			padding: 10px 25px;
			color: $colorWhite;
			background-color: $colorLinkHover;
			text-align: center;
			cursor: pointer;
			font-family: Roboto;
			font-style: normal;
			font-weight: bold;
			font-size: 16px;
			line-height: 30px;
			border-radius: 2px;

			&:hover {
				background-color: #555;
				color: black;
			}
		}
	}
}
