.logo {
  position: relative;
  left: 2px;
  top: 0;
  order: 1;
  flex: 0 0 23.6%;
  max-width: 23.6%;
  order: 1;

  .custom-logo-link {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;

    span {
      color: $colorLinkHover;
    }
    &:hover {
      color: $colorLinkDefault;
    }
    &:visited {
      color: $colorLinkDefault;
    }
  }
}
